//colores

$white: #fff;
$platinum: #e8e8e8;
$grey: #bababa;
$carmine-pink: #e94f37;
$salmon: #ef7f6d;
$spanish-pink: #f7bfb6;
$black-olive: #393e41;
$granite-grey: #5d6163;
$old-silver: #818486;
$verdigris: #44bba4;
$medium-aquamarine: #66c7b4;
$perla-aquamarine: #88d3c5;

//Fuentes primary font = $playfair secondary= $open-sans

$primary-font: 'Playfair Display', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

//Tipografía

$bold: 700;
$semi-bold: 600;
$regular: 400;

// Font Sizes
$xxxx-large: 330px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;