// botones

.boton {
    padding: 11.2px 32px;
    border-radius: 3px;
    font-family: $secondary-font;
    font-size: $small;
    color: $white;
}

.boton_buscar {
    background-color: $carmine-pink;
    border-color: $carmine-pink;

    &:hover {
        background-color: $salmon;
        border-color: $salmon;
        color: $black-olive;
    }
}

.boton_destino {
    background-color: $verdigris;
    border-color: $verdigris;

    &:hover {
        background-color: $medium-aquamarine;
        border-color: $medium-aquamarine;
    }
}